---
import Footer_Bar from '@components/Footer_Bar.astro';
import Burger_Menu from '@components/Burger_Menu.astro';
import Header_Common from '@components/Header_Common.astro';
---
<!DOCTYPE html>
<html lang="en">
<head>
<Header_Common />
<title>Oops :(</title>
</head>
<body>
<Burger_Menu />
<h2>Oops!</h2>
Whatever you were trying to reach was either moved, carted on the way or never loaded into the quest in the first place.<br>
Please join our discord and let the main team know about it!<br>
We apologize for the inconvenience and hope to fix the issue as soon as we find it!

<Footer_Bar />
</body>
</html>
