---

---

<input
  type="radio"
  class="radiobutton"
  name="Level2RadioButton"
  id="showendgame"
/>
<label for="showendgame" class="radiotext1">Endgame Sets</label>
<input
  type="radio"
  class="radiobutton"
  name="Level2RadioButton"
  id="showguide"
  checked
/>
<label for="showguide" class="radiotext2">How to play...</label>
<input
  type="radio"
  class="radiobutton"
  name="Level2RadioButton"
  id="showprog"
/>
<label for="showprog" class="radiotext3">Progression Sets</label><br />
<div id="endgame">
  <p>
    <a href="rise/endgame/greatsword">
      <img src="../src/assets/weap_icons/greatsword.webp" class="inlineimg" />
    </a>
    <a href="rise/endgame/longsword">
      <img src="../src/assets/weap_icons/longsword.webp" class="inlineimg" />
    </a>
    <a href="rise/endgame/sword_and_shield"
      ><img
        src="../src/assets/weap_icons/sword_and_shield.webp"
        class="inlineimg"
      /></a
    >
    <a href="rise/endgame/dual_blades"
      ><img src="../src/assets/weap_icons/dual_blades.webp" class="inlineimg" /></a
    >
    <a href="rise/endgame/hammer"
      ><img src="../src/assets/weap_icons/hammer.webp" class="inlineimg" /></a
    >
    <a href="rise/endgame/hunting_horn"
      ><img src="../src/assets/weap_icons/hunting_horn.webp" class="inlineimg" /></a
    >
    <a href="rise/endgame/lance"
      ><img src="../src/assets/weap_icons/lance.webp" class="inlineimg" /></a
    >
    <a href="rise/endgame/gunlance"
      ><img src="../src/assets/weap_icons/gunlance.webp" class="inlineimg" /></a
    >
    <a href="rise/endgame/switch_axe"
      ><img src="../src/assets/weap_icons/switch_axe.webp" class="inlineimg" /></a
    >
    <a href="rise/endgame/charge_blade"
      ><img src="../src/assets/weap_icons/charge_blade.webp" class="inlineimg" /></a
    >
    <a href="rise/endgame/insect_glaive"
      ><img src="../src/assets/weap_icons/insect_glaive.webp" class="inlineimg" /></a
    >
    <a href="rise/endgame/light_bowgun"
      ><img src="../src/assets/weap_icons/light_bowgun.webp" class="inlineimg" /></a
    >
    <a href="rise/endgame/heavy_bowgun"
      ><img src="../src/assets/weap_icons/heavy_bowgun.webp" class="inlineimg" /></a
    >
    <a href="rise/endgame/bow"
      ><img src="../src/assets/weap_icons/bow.webp" class="inlineimg" /></a
    >
  </p>
</div>

<div id="guide">
  <p>
    <a href="rise/guide/greatsword"
      ><img src="../src/assets/weap_icons/greatsword.webp" class="inlineimg" /></a
    >
    <a href="rise/guide/longsword"
      ><img src="../src/assets/weap_icons/longsword.webp" class="inlineimg" /></a
    >
    <a href="rise/guide/sword_and_shield"
      ><img
        src="../src/assets/weap_icons/sword_and_shield.webp"
        class="inlineimg"
      /></a
    >
    <a href="rise/guide/dual_blades"
      ><img src="../src/assets/weap_icons/dual_blades.webp" class="inlineimg" /></a
    >
    <a href="rise/guide/hammer"
      ><img src="../src/assets/weap_icons/hammer.webp" class="inlineimg" /></a
    >
    <a href="rise/guide/hunting_horn"
      ><img src="../src/assets/weap_icons/hunting_horn.webp" class="inlineimg" /></a
    >
    <a href="rise/guide/lance"
      ><img src="../src/assets/weap_icons/lance.webp" class="inlineimg" /></a
    >
    <a href="rise/guide/gunlance"
      ><img src="../src/assets/weap_icons/gunlance.webp" class="inlineimg" /></a
    >
    <a href="rise/guide/switch_axe"
      ><img src="../src/assets/weap_icons/switch_axe.webp" class="inlineimg" /></a
    >
    <a href="rise/guide/charge_blade"
      ><img src="../src/assets/weap_icons/charge_blade.webp" class="inlineimg" /></a
    >
    <a href="rise/guide/insect_glaive"
      ><img src="../src/assets/weap_icons/insect_glaive.webp" class="inlineimg" /></a
    >
    <a href="rise/guide/light_bowgun"
      ><img src="../src/assets/weap_icons/light_bowgun.webp" class="inlineimg" /></a
    >
    <a href="rise/guide/heavy_bowgun"
      ><img src="../src/assets/weap_icons/heavy_bowgun.webp" class="inlineimg" /></a
    >
    <a href="rise/guide/bow"
      ><img src="../src/assets/weap_icons/bow.webp" class="inlineimg" /></a
    >
  </p>
</div>

<div id="prog">
  <p>
    <a href="rise/progression/greatsword"
      ><img src="../src/assets/weap_icons/greatsword.webp" class="inlineimg" /></a
    >
    <a href="rise/progression/longsword"
      ><img src="../src/assets/weap_icons/longsword.webp" class="inlineimg" /></a
    >
    <a href="rise/progression/sword_and_shield"
      ><img
        src="../src/assets/weap_icons/sword_and_shield.webp"
        class="inlineimg"
      /></a
    >
    <a href="rise/progression/dual_blades"
      ><img src="../src/assets/weap_icons/dual_blades.webp" class="inlineimg" /></a
    >
    <a href="rise/progression/hammer"
      ><img src="../src/assets/weap_icons/hammer.webp" class="inlineimg" /></a
    >
    <a href="rise/progression/hunting_horn"
      ><img src="../src/assets/weap_icons/hunting_horn.webp" class="inlineimg" /></a
    >
    <a href="rise/progression/lance"
      ><img src="../src/assets/weap_icons/lance.webp" class="inlineimg" /></a
    >
    <a href="rise/progression/gunlance"
      ><img src="../src/assets/weap_icons/gunlance.webp" class="inlineimg" /></a
    >
    <a href="rise/progression/switch_axe"
      ><img src="../src/assets/weap_icons/switch_axe.webp" class="inlineimg" /></a
    >
    <a href="rise/progression/charge_blade"
      ><img src="../src/assets/weap_icons/charge_blade.webp" class="inlineimg" /></a
    >
    <a href="rise/progression/insect_glaive"
      ><img src="../src/assets/weap_icons/insect_glaive.webp" class="inlineimg" /></a
    >
    <a href="rise/progression/light_bowgun"
      ><img src="../src/assets/weap_icons/light_bowgun.webp" class="inlineimg" /></a
    >
    <a href="rise/progression/heavy_bowgun"
      ><img src="../src/assets/weap_icons/heavy_bowgun.webp" class="inlineimg" /></a
    >
    <a href="rise/progression/bow"
      ><img src="../src/assets/weap_icons/bow.webp" class="inlineimg" /></a
    >
  </p>
</div>
