---

---

<div class="BuildParagraph">
  <input id="5.0" class="toggle" type="checkbox" />
  <label for="5.0" class="CollHeader">
    <h3><img src="../src/assets/icons/patchnotes.webp" /></h3>
  </label>
  <div class="collapsible-contentParagraphs">
    <div class="collapsible-content-inside">
      <div class="CollL2Page">
        <div class="GuideParagraph">
          <input id="GuidesPatch" class="toggle" type="checkbox" />
          <label for="GuidesPatch" class="CollHeader">
            <h3>Guides Patchnotes:</h3>
          </label>
          <div class="collapsible-contentParagraphs">
            <div class="collapsible-content-inside">
              <div>
                <input id="GuidePatch" class="toggle" type="checkbox" />
                <label for="GuidePatch" class="CollHeader">
                  <h4>Guide Patch 1.1</h4>
                </label>
                <div class="collapsible-contentParagraphs">
                  <div class="collapsible-content-inside">
                    <div class="Level2Paragraph">
                      <p>bla</p>
                    </div>
                  </div>
                </div>

                <input id="GuidePatch" class="toggle" type="checkbox" />
                <label for="GuidePatch" class="CollHeader">
                  <h4>Guide Patch 1.0</h4>
                </label>
                <div class="collapsible-contentParagraphs">
                  <div class="collapsible-content-inside">
                    <div class="Level2Paragraph">
                      <p>bla</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--<div class="GuideParagraph">
            <input id="PLACEHOLDERPatch" class="toggle" type="checkbox">
            <label for="PLACEHOLDERPatch" class="CollHeader">
                <h3>PLACEHOLDER Patchnotes:</h3>
            </label>
            <div class="collapsible-contentParagraphs">
                <div class="collapsible-content-inside">
                    <div>
                      <div class="GuideParagraph">
                        <input id="PLACEHOLDER" class="toggle" type="checkbox">
                        <label for="PLACEHOLDER" class="CollHeader">
                            <h4>Source</h4>
                        </label>
                        <div class="collapsible-contentParagraphs">
                            <div class="collapsible-content-inside">
                                    <p><a href="PLACEHOLDER">PLACEHOLDER</a>
                                    </p>
                            </div>
                        </div>
                    </div>
                      <input id="PLACEHOLDER" class="toggle" type="checkbox">
                      <label for="PLACEHOLDER" class="CollHeader">
                          <h4>PLACEHOLDER</h4>
                      </label>
                      <div class="collapsible-contentParagraphs">
                          <div class="collapsible-content-inside">
                              <div class="Level2Paragraph">
                                  <p>PLACEHOLDER
                                  </p>
                              </div>
                          </div>
                      </div>
                      <input id="PLACEHOLDER" class="toggle" type="checkbox">
                      <label for="PLACEHOLDER" class="CollHeader">
                          <h4>EXPANSION PATCH</h4>
                      </label>
                      <div class="collapsible-contentParagraphs">
                          <div class="collapsible-content-inside">
                              <div class="Level2Paragraph">
                                  <p>PLACEHOLDER
                                  </p>
                              </div>
                          </div>
                      </div>

                    </div>
                </div>
            </div>
        </div>-->

        <div class="GuideParagraph">
          <input id="WildsPatch" class="toggle" type="checkbox" />
          <label for="WildsPatch" class="CollHeader">
            <h3>Wilds Patchnotes:</h3>
          </label>
          <div class="collapsible-contentParagraphs">
            <div class="collapsible-content-inside">
              <div class="GuideParagraph">
                <input id="WildsSource" class="toggle" type="checkbox" />
                <label for="WildsSource" class="CollHeader">
                  <h4>Source</h4>
                </label>
                <div class="collapsible-contentParagraphs">
                  <div class="collapsible-content-inside">
                    <p><a href="PLACEHOLDER">Yoinked from here.</a></p>
                  </div>
                </div>
              </div>
              <div class="GuideParagraph">
                <input id="PLACEHOLDER" class="toggle" type="checkbox" />
                <label for="PLACEHOLDER" class="CollHeader">
                  <h4>Day 1 Patch: PLACEHOLDER</h4>
                </label>
                <div class="collapsible-contentParagraphs">
                  <div class="collapsible-content-inside">
                    <div class="Level2Paragraph">
                      <p>PLACEHOLDER</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
